<div fxLayout="column" fxFlexFill>
  <div class="header"></div>
  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10">
    <mat-toolbar-row>
      <div>
        <a mat-button [routerLink]="'/'">Home</a>
        <a mat-button [routerLink]="'/posts'">Posts</a>

        <button mat-button [matMenuTriggerFor]="menu">Admin</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/admin/users'">Users</button>
          <button mat-menu-item [routerLink]="'/admin/settings'">Settings</button>
        </mat-menu>        
      </div>

      <span class="fill-space"></span>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxFlex="50">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
